extends layout

block content
  h1= title
  
  //- button#btn hello world

  div#dialog HELLO WORLD!

  div#categorylist
    ul
        li 
            a(href='#!/11111111')  奔驰
        li 
            a(href='#!/22222222')  奥迪A8
        li 
            a(href='#!/33333333')  宝马7
        li 
            a(href='#!/44444444')  捷豹

  div#carlist
    input(type='text', name='filterCar')
    button#search search
    table.list
        tr
            th id
            th name
            th color
            th size
            th opt

        //- tr
        //-     td 11
        //-     td 22
        //-     td 33
        //- tr
        //-     td 44
        //-     td 55
        //-     td 66

  div#dialog 
  
  script(type='text/template', id='car-template')
      td <%- id %>
      td <%- name %>
      td <%- color %>
      td <%- size %>
      td 
        a.btn.edit edit 
        a.btn.delete delete

  script(type='text/template', id='dialog-template')
    div#car-dialog-template
      ul
        li name: <input type="text" value="<%- name %>" name="name">
        li color: <input type="text" value="<%- color %>" name="color">
        li size: <input type="text" value="<%- size %>" name="size">




