extends layout

block content
  h1= title
  
  //- button#btn hello world

  div#dialog HELLO WORLD!

  div#categorylist
    ul
        li 
            a(href='#!/11111111')  1111111111
        li 
            a(href='#!/22222222')  2222222222
        li 
            a(href='#!/33333333')  3333333333
        li 
            a(href='#!/44444444')  4444444444

  div#carlist
    input(type='text', name='filterCar')
    button#search search
    table.list
        tr
            th id
            th name
            th color
            th size
            th opt

        //- tr
        //-     td 11
        //-     td 22
        //-     td 33
        //- tr
        //-     td 44
        //-     td 55
        //-     td 66

  script(type='text/template', id='car-template')
      td <%- id %>
      td <%- name %>
      td <%- color %>
      td <%- size %>
      td 
        a.btn edit 
        a.btn delete



