doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/jqueryui/css/ui-lightness/jquery-ui-1.10.3.custom.css')
    script(src='/javascripts/jquery/jquery.js')
    script(src='/javascripts/jqueryui/js/jquery-ui-1.10.3.custom.js')
    script(src='/javascripts/underscore/underscore.js')
    script(src='/javascripts/backbone/backbone.js')
    script(src='/javascripts/index/index.js')
    script(src='/javascripts/index/view.js')
    script(src='/javascripts/index/model.js')
    script(src='/javascripts/index/collection.js')
    script(src='/javascripts/index/route.js')

  body
    block content