body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dialog {
    display:  none;
}

#categorylist {
    background-color: lightgrey;
    display: inline-block;
    width: 300px;
    float: left;
    height: 600px;
}

#carlist {
    background-color: lightgrey;
    margin-left: 320px;
    height: 600px;
}

.list {
    width: 100%;
}

.list td {
    border: 1px solid grey;
}

.btn {
  margin: 5px;
  cursor: pointer;
}